@import url(//db.onlinewebfonts.com/c/9475d6a0b79c164f9f605673714e75d9?family=Circular+Std+Medium);

@import url(//db.onlinewebfonts.com/c/961a181da27e7cbc072ec2fb5bbfe2a9?family=Circular+Std+Bold);

@import url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);


@font-face { font-family: "Circular Std Medium";
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot"); 
    src: url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.woff") format("woff"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/9475d6a0b79c164f9f605673714e75d9.svg#Circular Std Medium") format("svg"); }

@font-face {font-family: "Circular Std Bold"; 
    src: url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot"); 
    src: url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.woff") format("woff"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/961a181da27e7cbc072ec2fb5bbfe2a9.svg#Circular Std Bold") format("svg"); }

    @font-face {font-family: "Circular Std Book";
     src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot"); 
     src: url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.woff") format("woff"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/860c3ec7bbc5da3e97233ccecafe512e.svg#Circular Std Book") format("svg"); }

    


/* NAVBAR */ 

/* BANNIERE  */

/* PICTOGRAMMES  */

.centrer{
    font-size: 40px; 
    color: black;
    text-align: center;
    font-family: "Circular Std Medium";
}

/* ILLUSTRATIONS */



.illustration-text{
    font-size: 40px; 
    color: black;
    font-family: "Circular Std Medium";
}

.position-illustration-reverse{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
}

.position-illustration{
    display: flex;
    justify-content: space-around;
}

.padding-illustration{
    padding-top: 10px;
}

.margin-illustrations{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* FOOTER  */




.links{
    font-family: "Circular Std Medium";
    color: #000C2D!important;
    font-size: 14px;
}

#demo{
    font-family: "Circular Std Medium";
    font-size: 16px;
    color: #2F70FE;
    border: solid #2F70FE 1px;  
}

.nav-link{
    display: inline!important;
}

#navbarNav{
    justify-content: flex-end;
    background-color: white;
   
}

.main{
    margin-left: 50px;
    max-width: 1150px;
}
.flotte{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.flotte-text{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.bg-footer{
    background-color: #000000 ;
    color: #fff;
    /*padding-top: 80px;
    padding-bottom: 30px;*/
    display: flex;
    flex-direction: column;
    padding-top: 4%;
    padding-bottom: 2%;
    padding: 3% 9%;
}

.links-footer{
   /* margin: 0 5%;*/
    font-size: 14px;
    display: flex;
    flex-direction: column;
   /*margin: 0% 4.5%;*/
    text-align: left;
}
.links-footer p{
    font-family: "Circular Std Medium";
}
a{
    text-decoration: none;
    color: white;
    font-family: "Circular Std Book";
}
a:hover{
    color: wheat;
}
.conteneur{
    display: flex;
    justify-content: space-between;
     /*max-width: 936px;*/
    /*margin-right: 150px;
    margin-left: 150px;*/
}
.conteneur2{
    display: flex; 
    padding-top: 2%;
    /*margin-left: 15%;*/
}
.conteneur2 p{
    font-size: 14px;
    /*padding-top: 40px*/
}
#social{
    margin-left: 35%;
}

.banniere{
    text-align: center;
    background-image: url("images/banniere.png");
    height:80vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}

.ban-img{
    width: 1300px ;
    height: auto;
}

.texte-centrer{
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ffff;
    top: 25%; 
    margin: auto;
    /*position: absolute;
    left: 0;
    right: 0; */ 
} 
   

    
.picto{
    width: 150px;
    height: auto;
}

.bg-vert{
    background-color: rgb(0, 255, 133, 0.1);
    padding-top: 60px;
    padding-bottom: 60px; 
    position: relative;
}

.position-picto{
    display: flex;
    justify-content: center; 
    align-items: center;
    column-gap: 3%;
}
*{border:1px solid grey;}
.margin-picto{
    /*padding: 0 50px;*/
    display: flex;
    flex-direction: column;
}

#button{
    color: white;
    background-color: black;
    font-family: "Circular Std Bold"; 
    font-size: 16px;
    padding:10px 20px 10px 20px;
    border:none;
}

.business{
    font-size: 4rem;
    font-family: "Circular Std Bold";
}

.partners{
    font-size:1rem;
    font-family: "Circular Std Book";
    width: 100%;
}
 

.triangles1{  
    /*float: right;*/
    display: flex;
    justify-content: flex-end;
}
 
    

.triangles2{
    /*display: flex;
    justify-content: flex-start;
    width: 120px;
    height: auto;*/
    /*padding-top: 10px;*/
}
.channel{
    font-size: 28px;
    font-family: "Circular Std Bold";
}

.sales{
    font-size: 16px;
    font-family: "Circular Std Book";
    width: 100%;
}

@media screen and (max-width: 50rem)
{
    .triangles1, .triangles2{
        display: none;
    }
}
 @media screen and (max-width: 45rem)
{
    .conteneur{
        flex-direction: column;
        width: 10rem;
        margin: auto;
        row-gap: 1rem;
    }
    .conteneur2{
        flex-direction: column;
        align-items: center;
        padding-top: 2rem;
    }
    #social{
        margin-left: 0%;
    }
    .links-footer p{
        font-size: 18px;
    }
    .position-picto{
        flex-direction: column;
    }
    .margin-picto{
       align-items: center;
    }
    .flotte{
        flex-direction: column;
    }
    .illustration{
        width: 100%;
        height: auto;

    }
    {
        order:1;
    }
}

